.env
*.env
# Entornos virtuales (venv)
.venv/
env/
/venv
/env

__pycache__/
*.pyc
*.pyd
*.so
dist/
build/
*.egg-info/

.vscode/
.idea/

.coverage
htmlcov/
.pytest_cache/

*.sqlite3
*.db
db.sqlite
db.sqlite3

*.faiss
*.pkl

*.log
uvicorn.log